
.carousel {

  width: 100%;
  height: 60vh; /* Adjust height as needed */
  /* overflow: hidden; */
  display: flex;
  margin-left: 0rem;
  align-items: start;
  justify-content: center;
  /* background-color: #f4f4f4; */
  box-sizing: border-box;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  

  
}



.carousel-image {
 
  width: 100%;
  transition: transform 1.5s ease-in-out, opacity 0.7s ease-in-out;
  opacity: 0;
  filter: blur(5px);
  z-index: 0;
  height: 100%;
}

.carousel-image.active {
  transform: translateX(0);
  width: 100%;
  height: 100%;
  opacity: 1;
  filter: blur(0);
  z-index: 2;
  
}

.carousel-image.prev {
  transform: translateX(-120%);
  z-index: 1;
}

.carousel-image.next {
  transform: translateX(120%);
  z-index: 1;
}

.carousel-image.hidden {
  display: none;
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 3;
  font-size: 1.5rem;
  border-radius: 50%;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}
